<!-- web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_3.0.xsd"> 

	<display-name>Predict'em</display-name>
	<persistence-unit-ref>
		<persistence-unit-ref-name>persistence/predictemPersistence</persistence-unit-ref-name>
		<persistence-unit-name>predictemPersistence</persistence-unit-name>
   </persistence-unit-ref>
	<servlet>
		<load-on-startup>1</load-on-startup>
		<servlet-name>atmosphere</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>predictem</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
			<param-value>/WEB-INF/jsp</param-value>
		</init-param>
		<init-param>
            <param-name>org.atmosphere.useWebSocket</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.useNative</param-name>
            <param-value>true</param-value>
        </init-param>
        <!--init-param>
            <param-name>org.atmosphere.cpr.broadcastFilterClasses</param-name>
            <param-value>org.atmosphere.client.FormParamFilter,org.atmosphere.client.JavascriptClientFilter</param-value>
        </init-param-->
        <!-- Uncomment if you want to track broadcasted message using http session.
        <init-param>
            <param-name>org.atmosphere.cpr.sessionSupport</param-name>
            <param-value>true</param-value>
        </init-param>

        Uncomment one of the above to support persistence and QoS so events are never lost when browser is disconnected.

        <init-param>
            <param-name>org.atmosphere.cpr.broadcasterCacheClass</param-name>
            <param-value>org.atmosphere.cache.SessionBroadcasterCache</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.broadcasterCacheClass</param-name>
            <param-value>org.atmosphere.cache.HeaderBroadcasterCache</param-value>
        </init-param>
        -->
		<!--init-param>
    		<param-name>org.atmosphere.cpr.CometSupport.maxInactiveActivity</param-name>
    		<param-value>30000</param-value>
		</init-param-->
		<init-param>
    		<param-name>unit:predictemPersistence</param-name>
    		<param-value>persistence/predictemPersistence</param-value>
  		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>atmosphere</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>
</web-app>